header {
  overflow: hidden;
  background-color: #3f51b5;
  padding: 20px 10px;
}

.button-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

.button-text:hover {
  background: rgba(255, 255, 255, 0.15);
}

.inline-header {
  display: flex;
}

.margin-left-right {
  margin: 0 20px;
}

.divider {
  color: #fff;
  margin: 0 20px;
}
